<div class="navbar">
  <a href="<%= root_path %>"><%= image_tag 'yogaisan.jpg', class: 'image' %></a>
  <a href="https://drive.google.com/file/d/1KoQMrhn5VBldd98uX2D8HafAvzX5LXRo/view?usp=sharing" target="_blank", class=" nav-link CV"><h3>My CV</h3></a>
</div>

<div class="description">
  <h1>Hello, I am Yogaisan. <br>I am an aspiring frontend developer.</h1>
  <br>
  <p><span id="banner-typed-text"></span></p>
  <hr>
</div>

<div class="tech-stack">
  <h2><strong>Tech Stack</strong></h2>
  <br>
  <%= image_tag 'stack.png', class: 'tech-image' %>
  <hr>
</div>

<div class="projects">
  <h2>My Projects</h2>
</div>
