// Specific CSS for your home-page

body {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.navbar {
  background: rgba(74, 219, 74, 0);
  height: 100px;
}

hr {
  background-color: rgba(221, 186, 186, 0.432);
  border: 0 none;
  color: rgb(212, 44, 44);
  height: 12px;
}

.description {
  width: 70%;
  margin: 100px auto;

  h1 {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  p {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: monospace;
    color: hsl(0, 0%, 10%);
    margin-bottom: 40px;
  }
}

.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 40px;
}
